footer {
    background: var(--bg-second);
    @media screen and (max-width: 760px) {
        z-index: 2;
    }
    .copy {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: $padding-default;
        @media screen and (max-width: 760px) {
            padding-left: $padding-default-mobile;
        }
        h5 {
            font-size: $font-medium;
            letter-spacing: $letter-spacing-font-medium;
            font-weight: 400;
            @media screen and (max-width: 760px) {
                font-size: $font-medium-mobile;
            }
        }
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding-right: $padding-default;
        @media screen and (max-width: 760px) {
            padding-right: $padding-default-mobile;
        }
        a {
            font-weight: 600;
            letter-spacing: $letter-spacing-font-medium;
            font-size: $font-medium;
            @media screen and (max-width: 760px) {
                font-size: $font-medium-mobile;
            }
        }
    }
    .lang {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        a {
            letter-spacing: $letter-spacing-menu;
            font-size: 0.8vw;
            @media screen and (max-width: 760px) {
                font-size: $font-medium-mobile;
            }
        }

        .activated {
            font-weight: 600;
        }
    }
    a {
        position: relative;
        color: $main-color;
        @media screen and (max-width: 760px) {
            font-size: $font-medium-mobile;
        }
    }
    a:hover {
        color: $main-color;
        text-decoration: none;
    }

    a:before,
    a:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: -4px;
        background: $main-color;
    }

    a:before {
        left: 0;
    }
    a:after {
        right: 0;
        background: $main-color;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    a:hover:before {
        background: $main-color;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    a:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
    }
}
