@import "colors";
body {
    height: 100vh;
}
.about_page header,
.show-case header {
    position: absolute;
    top: 0;
}
header {
    background: var(--bg);
    position: relative;
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.5s;
    .logo {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-start;
        :first-child {
            margin: $padding-default;
        }
        h5 {
            line-height: 1vw;
            padding-left: 9px;
            letter-spacing: 0.052vw;
            font-size: 0.573vw;
            color: var(--switcher-dark);
            font-family: "Raleway", sans-serif;
            text-transform: uppercase;
            margin-top: -9px;
            font-weight: 500;
            opacity: 1;
            z-index: 1;
            transition: all 0.5s ease-in-out;
        }
        img {
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }
        .logo-original,
        .logo-scroll {
            transition: all 0.5s ease-in-out;
            .cls-1 {
                transition: all 0.5s ease-in-out;
                fill: #0c3c3a;
                fill-rule: evenodd;
            }
        }
        .logo-scroll {
            position: absolute;
            top: 47px;
            left: 45px;
            .cls-1 {
                opacity: 0;
                z-index: -1;
                transition: all 0.5s ease-in-out;
            }
        }
        .logo_light {
            .cls-1 {
                transition: all 0.5s ease-in-out;
                fill: #0c3c3a;
                fill-rule: evenodd;
            }
        }
    }
    .day-night-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .toggle_day {
            cursor: pointer;
            .cls-1,
            .cls-2 {
                fill: none;
                stroke: var(--sun);

                stroke-width: 2px;
            }

            .cls-2 {
                fill-rule: evenodd;
            }
        }
        .toggle_night {
            &.activated {
                path {
                    stroke: var(--moon);
                }
            }
            cursor: pointer;
            .cls-1,
            .cls-2 {
                fill: none;
                stroke: var(--moon);

                stroke-width: 2px;
            }

            .cls-2 {
                fill-rule: evenodd;
            }
        }
        svg {
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }
        img {
            cursor: pointer;
        }
    }
    .menu {
        padding: $padding-default;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        .bar-top,
        .bar-middle,
        .bar-bottom {
            height: 2px;
            background: var(--switcher-dark);
            border-radius: 5px;
            margin: 6px 0;
            width: 30px;
            max-width: 30px;
            margin-bottom: -1px;
            transform-origin: left;
            transition: all 0.5s;
        }
        .bar-top {
            margin: 0;
        }
        .bar-middle {
            margin: 6px 0 0;
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 7px;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            list-style-type: none;
            li {
                opacity: 1;
                transform: translateX(0);
                transition: all 0.5s ease-in-out;

                &:first-child {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                }
                &:nth-child(2) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.1s;
                }
                &:nth-child(3) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.2s;
                }
                &:nth-child(4) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.3s;
                }
                &:nth-child(5) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.4s;
                }
            }
        }
        .activated {
            font-weight: 600;
            letter-spacing: $letter-spacing-menu-bold;
        }
        a {
            position: relative;
            font-size: 0.8vw;
            line-height: 1vw;
            letter-spacing: $letter-spacing-menu-right;
            color: var(--menu-color);
        }
        a:hover {
            color: var(--menu-color);
            text-decoration: none;
        }

        a:before,
        a:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            bottom: -4px;
            background: var(--border);
        }

        a:before {
            left: 0;
        }
        a:after {
            right: 0;
            background: var(--border);
            transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover:before {
            background: var(--border);
            width: 100%;
            transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover:after {
            background: transparent;
            width: 100%;
            transition: 0s;
        }
        &.collapsed {
            ul {
                li {
                    opacity: 0;
                    transform: translateX(11px);
                    transition: all 0.5s ease-in-out;
                    cursor: none;
                    pointer-events: none;
                    &:first-child {
                        // animation: hideMenuItem 0.5s ease-in;
                    }
                    &:nth-child(2) {
                        // animation: hideMenuItem 0.5s ease-in;
                        transition-delay: 0.1s;
                    }
                    &:nth-child(3) {
                        // animation: hideMenuItem 0.5s ease-in;
                        transition-delay: 0.2s;
                    }
                    &:nth-child(4) {
                        // animation: hideMenuItem 0.5s ease-in;
                        transition-delay: 0.3s;
                    }
                    &:nth-child(5) {
                        // animation: hideMenuItem 0.5s ease-in;
                        transition-delay: 0.4s;
                    }
                }
            }
            .bar-middle {
                max-width: 19px;
                transform: translateX(11px);
            }
        }
    }
    &.scroll-down {
        position: fixed;
        top: 0;
        background: transparent;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.5s;

        .logo {
            img,
            h5 {
                opacity: 0;
                z-index: -1;
            }
            .logo-scroll {
                .cls-1 {
                    opacity: 1;
                    z-index: 1;
                }
            }
            .logo-original,
            .logo_light {
                .cls-1 {
                    opacity: 0;
                    z-index: -1;
                }
            }
        }
        .day-night-switcher svg {
            opacity: 0;
            z-index: -1;
        }
    }
}

// @keyframes hideMenuItem {
//     0% {
//         opacity: 1;
//         transform: translateX(0);
//     }
//     100% {
//         opacity: 0;
//         transform: translateX(11px);
//     }
// }
// @keyframes reverseHideMenuItem {
//     0% {
//         opacity: 0;
//         transform: translateX(11px);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }
@media screen and (min-width: 760px) {
    .menu-mobile,
    .loader-container-mobile {
        display: none;
    }
}
@media screen and (max-width: 760px) {
    .menu-mobile {
        transform: translateY(-100%);
        transition: 0.5s all ease-in-out;
        opacity: 0;

        &.collapsed {
            transform: translateY(0);
            opacity: 1;
            ul li {
                transition: all 0.5s ease-in-out;
                transition-delay: 0.5s;
                transform: translateX(0);
            }
        }

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        z-index: 10;
        top: 0;
        bottom: 0;
        width: 100vw;
        left: 0;
        right: 0;
        .header-mobile {
            display: grid;
            grid-template-columns: 12.8vw 1fr 12.8vw;
            padding: 6px 6px 0;
            height: 5.4vh;
            width: 100%;
            .exit {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .day-night-switcher {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .toggle_day {
                cursor: pointer;
                .cls-1,
                .cls-2 {
                    fill: none;
                    stroke: var(--sun);

                    stroke-width: 2px;
                }

                .cls-2 {
                    fill-rule: evenodd;
                }
            }
            .toggle_night {
                &.activated {
                    path {
                        stroke: var(--moon);
                    }
                }
                cursor: pointer;
                .cls-1,
                .cls-2 {
                    fill: none;
                    stroke: var(--moon);

                    stroke-width: 2px;
                }

                .cls-2 {
                    fill-rule: evenodd;
                }
            }
            svg {
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
            img {
                cursor: pointer;
            }
        }
        ul {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                opacity: 1;
                height: 12.5vh;
                padding: 0 44px;
                transform: translateX(-20px);

                &::before {
                    content: "";
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    left: 22px;
                    background-color: #0c3c3a;
                }
                &.first {
                    &::before {
                        background-color: $bg-section;
                    }
                }
                &:first-child {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                }
                &:nth-child(2) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.3s;
                }
                &:nth-child(3) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.2s;
                }
                &:nth-child(4) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0.1s;
                }
                &:nth-child(5) {
                    // animation: reverseHideMenuItem 0.5s ease-in;
                    transition-delay: 0s;
                }
            }
        }
        button {
            font-size: $small-font;
            position: relative;
            background: transparent;
            z-index: 2;
            color: var(--p-color);
            font-weight: 600;
            width: 75.278vw;
            height: 9.375vh;
            border: 1px solid #0c3c3a;
            letter-spacing: $letter-spacing-menu-bold;
            word-break: keep-all;
            white-space: nowrap;
            font-size: 13px;
        }
        button:hover {
            color: var(--border);
            text-decoration: none;
        }

        button:before,
        button:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            bottom: -4px;
            background: var(--border);
        }

        button:before {
            left: 0;
        }
        button:after {
            right: 0;
            background: var(--border);
            transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        button:hover:before {
            background: var(--border);
            width: 100%;
            transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        button:hover:after {
            background: transparent;
            width: 100%;
            transition: 0s;
        }
        .activated {
            font-weight: 600;
            letter-spacing: $letter-spacing-menu-bold;
        }
        a {
            position: relative;
            font-size: 13px;
            line-height: 26px;
            letter-spacing: $letter-spacing-menu-right;
            color: var(--menu-color);
        }
        a:hover {
            color: var(--menu-color);
            text-decoration: none;
        }

        a:before,
        a:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            bottom: -4px;
            background: var(--border);
        }

        a:before {
            left: 0;
        }
        a:after {
            right: 0;
            background: var(--border);
            transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover:before {
            background: var(--border);
            width: 100%;
            transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover:after {
            background: transparent;
            width: 100%;
            transition: 0s;
        }

        .header-mobile,
        .menu-items,
        .get-intouch {
            width: 100%;
            background-color: white;
        }
        .menu-items {
            background-color: white !important;
            height: 54vh;
            padding-top: 6.5vh;
            background: url("../img/mobile/IMG\ bg\ MASK.svg") no-repeat center;
            background-size: 91vw;
            background-position-x: -2px;
            background-position-y: 62px;
        }
        .get-intouch {
            height: 16vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 16vh 22px 8vh;
        }
        .footer-mobile {
            width: 100%;
            height: 11vh;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            position: relative;
            background-color: rgb(255, 255, 255) !important;
            background: url("../img/mobile/MENU.png") no-repeat;
            background-size: contain;
            background-position: center;
            display: grid;
            grid-template-columns: 45vw 10vw 45vw;
        }
    }
}
